<div>
  <mat-toolbar color="primary">
    <span><mat-icon>code</mat-icon></span>

    <span>JSON Structures</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Profile</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Account</button>
      <button mat-menu-item (click)="logout()">Sign Out</button>
  </mat-menu>

  <!-- routes -->
  <router-outlet></router-outlet>
</div>

